@use '../ListProduct/ListProduct.module.scss';

.wrap-table {
    @extend .wrap-table;
    margin-top: 32px;
}

.btn-create {
    margin-left: 0;
}

.filter {
    border-top: none;
    padding: 12px 32px;
}